%%PHOTO wrap="div" class="team-photo" size="irozo-thumb-m" link="false"%%

<div class="team-content-wrap">
	%%NAME wrap="h3" class="team-name"%%
	<div class="team-meta-position">%%POSITION wrap="span"%%</div>

	<div class="team-meta">
		<div class="team-meta-phone">%%ICON icon="nc-icon-outline ui-3_phone" for="phone"%%%%TITLE_PHONE%%%%PHONE wrap="span"%%</div>
		<div class="team-meta-location">%%ICON icon="nc-icon-outline location_pin" for="location"%%%%TITLE_LOCATION%%%%LOCATION wrap="span"%%</div>
		<div class="team-meta-email">%%ICON icon="nc-icon-outline ui-1_email-84" for="email"%%%%TITLE_EMAIL%%%%EMAIL wrap="span"%%</div>
	</div>
	%%SOCIALS%%
	<div class="team-content entry-content">
		%%CONTENT_TITLE%%
		%%CONTENT%%
	</div>
	%%SKILLS%%
</div>
