<div class="service-header">
	<div class="service-header__content">
		%%TITLE wrap="h3"%%
	</div>

	%%IMAGE link="false"%%
</div>

<div class="service-content-wrap">
	%%CONTENT_TITLE tag="h4"%%
	%%CONTENT class="service-content"%%
	%%FEATURES%%
</div>

%%TESTI%%
%%CTA%%
