.header-search .cherry-search form.cherry-search__form button.search-submit {
	color: $regular_link_color;
}

.header-search .cherry-search form.cherry-search__form button.search-submit:hover {
	color: $regular_link_hover_color;
}

.cherry-search__label:before {
	color: $regular_accent_color_3;
}

.invert .cherry-search__label:before {
	color: $invert_accent_color_1;
}

.mobile-panel .cherry-search__label:before,
.mobile-panel .header-search .cherry-search form.cherry-search__form button.search-submit {
	color: $invert_accent_color_1;
}

.mobile-panel .header-search .cherry-search form.cherry-search__form button.search-submit:hover {
	color: $invert_link_hover_color;
}

.cherry-search .cherry-search__item-title {
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
	letter-spacing: $h6_letter_spacing{em};
	color: $regular_h6_color;
}

.cherry-search .cherry-search__results-item a:hover .cherry-search__item-title,
.cherry-search .cherry-search__item-author em {
	color: $regular_link_color;
}

.cherry-search .cherry-search__item-content,
.cherry-search .cherry-search__item-author {
	color: $regular_text_color;
}

.cherry-search .cherry-search__more-button {
	font-weight: $h1_font_weight;
	font-size: @font_size($body_font_size, multiple, ceil, 0.857)px;
	font-family: @font_family( $h1_font_family );
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_1;
}

.cherry-search .cherry-search__more-button:hover {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_2;
}

.cherry-search .cherry-search__more-button:active {
	background-color: @darken($regular_accent_color_2, 10);
}

.site-header .invert .search-form .cherry-search__submit:not(:hover){
	color: $invert_accent_color_1;
}