<div class="cherry-projects-single__container">
	<div class="project__left-col">
		%%DATE%%
		%%SHAREBUTTONS%%
	</div>
	<div class="project__right-col">
		<div class="cherry-projects-single__header">
			<div class="cherry-projects-single__title">
				%%TITLE%%

				<div class="cherry-projects-single-meta entry-meta">
					%%AUTHOR%%
					%%TERMSLIST type="projects_category"%%
				</div>
			</div>

			%%FEATUREDIMAGE size="irozo-thumb-660-495"%%

			%%IMAGELIST crop="true" crop_width="315" crop_height="236"%%
		</div>
		<div class="container">
			<div class="cherry-projects-single__content-wrapper">
				<div class="cherry-projects-single__content">
					%%CONTENT_TITLE%%
					%%CONTENT%%
					%%DETAILSLIST%%
					%%SKILLSLIST%%
				</div>
			</div>
		</div>
	</div>
</div>
