/*
	Dynamic styles for Woo-elements
 */

header .woocommerce-currency-switcher-form ul.dd-options {
	background-color: $top_panel_bg;
}

/*
 * Woo-elements
 * Listing line Products
 */
.products .product h3,
.tm-categories-carousel-widget-container h3,
.products .product-category h3,
.tm-woowishlist-widget-product h3,
.tm-woocompare-widget-product h3 {
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size:  @font_size( $h6_font_size[size], multiple, round, .85 )px;
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
	letter-spacing: $h6_letter_spacing{em};
	text-align: $h6_text_align;
	color: $regular_h6_color;
}

.woocommerce .products .product .price,
.woocommerce div.product .woocommerce-variation-price span.price,
.woocommerce div.product span.price,
.woocommerce .price,
.woocommerce div.product p.price,
.woocommerce.widget .woocs_price_code,
.woocommerce div.product p.price ins,
.woocommerce div.product span.price ins{
	color: $regular_accent_color_1;
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
	letter-spacing: $h6_letter_spacing{em};
}


.tm_banners_grid_widget_banner_title{
	font-style: $h3_font_style;
	font-weight: $h3_font_weight;
	font-size: $h3_font_size{px};
	line-height: $h3_line_height;
	font-family: @font_family( $h6_font_family );
	letter-spacing: $h3_letter_spacing{em};
	text-align: $h3_text_align;
	color: $regular_h3_color;
}


.products .product-category .title_count_block>span,
.tm-categories-carousel-widget-container .tm-categories-carousel-widget-wrapper .title_count_block>span {
	color: $regular_text_color;
}
.products .product-category > a h3:hover,
.tm-categories-carousel-widget-container h3:hover,
.products .product-category > a .title_count_block>span:hover,
.tm-categories-carousel-widget-container .tm-categories-carousel-widget-wrapper .title_count_block>span:hover {
	color: $regular_accent_color_1;
}

.products .product.product-list h3,
.related h4,
.woocommerce-checkout .woocommerce-info,
.woocommerce-checkout-payment .payment_methods li label,
.woocommerce-checkout h2,
.tm_custom_menu_widget h3{
	font-style: $h5_font_style;
	font-weight: $h5_font_weight;
	font-size: $h5_font_size{px};
	line-height: $h5_line_height;
	font-family: @font_family( $h5_font_family );
	letter-spacing: $h5_letter_spacing{em};
	text-align: $h5_text_align;
	color: $regular_h5_color;
}

.woocommerce-checkout h3{
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
	letter-spacing: $h6_letter_spacing{em};
	text-align: $h6_text_align;
	color: $regular_h6_color;
}

.woocommerce .site-main .page-title{
	font-style: $h3_font_style;
	font-weight: $h3_font_weight;
	font-size: $h3_font_size{px};
	line-height: $h3_line_height;
	font-family: @font_family( $h3_font_family );
	letter-spacing: $h3_letter_spacing{em};
	text-align: $h3_text_align;
	color: $regular_h3_color;
}



	/*
	 * Woo-elements
	 * Woocommerce carousel-category-products
	 */

.tm-categories-carousel-widget-container .swiper-button-next,
.tm-categories-carousel-widget-container .swiper-button-prev,
.woocommerce .tablesaw-bar .tablesaw-advance a.tablesaw-nav-btn,
.woocommerce-product-search label i {
	color: @lighten($regular_text_color, 25%);

}
.tm-categories-carousel-widget-container .swiper-button-next:hover,
.tm-categories-carousel-widget-container .swiper-button-prev:hover,
.woocommerce .tablesaw-bar .tablesaw-advance a.tablesaw-nav-btn:hover {
	color: $regular_accent_color_1;
}

.woocommerce .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
	background-color: $regular_accent_color_2;
}
.woocommerce .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet-active,
.woocommerce .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:hover,
.site-header-cart .cart-contents .count {
	background-color: $regular_accent_color_1;
}


.tm_about_store_widget span {
	font-style: $h4_font_style;
	font-weight: $h4_font_weight;
	font-size: $h4_font_size{px};
	line-height: $h4_line_height;
	font-family: @font_family( $h4_font_family );
	letter-spacing: $h4_letter_spacing{em};
}

#tm_builder_outer_content .tm_pb_widget_area .tm_about_store_widget h3.widget-title {
	font-style: $h2_font_style;
	font-weight: $h2_font_weight;
	font-size: $h2_font_size{px};
	line-height: $h2_line_height;
	font-family: @font_family( $h2_font_family );
	letter-spacing: $h2_letter_spacing{em};
}

#tm_builder_outer_content .tm_pb_widget_area .widget.tm_about_store_widget,
.tm_about_store_widget,
#tm_builder_outer_content .tm_pb_widget_area .tm_about_store_widget h3.widget-title{
	color: $invert_accent_color_1;
}
/*
 * Woo-elements
 * Woocommerce price styles
 */

.woocommerce .products .product .price,
.woocommerce div.product span.price,
.woocommerce div.product p.price,
.woocommerce-cart .woocommerce .amount,
.woocommerce-checkout .woocommerce .amount,
.widget .woocs_price_code ins,
.price,
.cart_list li .quantity .amount {
	color: $regular_accent_color_1;
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
	letter-spacing: $h6_letter_spacing{em};
}

.cart_list li .quantity .amount{
	color: $regular_accent_color_1;
}

.woocommerce.widget_shopping_cart .total,
.widget_shopping_cart_content .total,
.woocommerce.widget_shopping_cart .total strong{
	color: $regular_accent_color_3;
	font-style: $h5_font_style;
	font-weight: $h5_font_weight;
	font-size:  $h5_font_size{px};
	line-height: $h5_line_height;
	font-family: @font_family( $h5_font_family );
	letter-spacing: $h5_letter_spacing{em};
}

.invert .woocommerce.widget_shopping_cart .total strong {
	color: $invert_link_hover_color;
}

.widget_shopping_cart_content .buttons a.button,
.woocommerce.widget_shopping_cart .buttons a.button {
	font-weight: $h1_font_weight;
	font-size: @font_size($body_font_size, multiple, ceil, 0.857)px;
	font-family: @font_family( $h1_font_family );
}


.woocommerce .products .product .price del,
.woocommerce div.product p.price del,
.woocommerce div.product span.price del,
.widget .woocs_price_code del {
	color: $regular_accent_color_1;
}

/*
 * Woo-elements
 * Woocommerce product widgets
 */

.search-form.woocommerce-product-search button[type=submit]{
	background: $regular_accent_color_1;
	color: $invert_accent_color_1;
}

.tm-categories-carousel-widget-container .tm-categories-carousel-widget-wrapper .title_count_block a>span,
.tm-categories-carousel-widget-container .tm-categories-carousel-widget-wrapper .title_count_block h3 a{
	color: $invert_accent_color_1;
}

.tm-categories-carousel-widget-container .tm-categories-carousel-widget-wrapper .title_count_block h3 a:hover{
	color:$regular_accent_color_4;
}

.woocommerce .products-categories .product.swiper-slide .title_count_block{
	background: @alpha($regular_accent_color_1, 50%);
}
.woocommerce .products-categories .product.swiper-slide:hover .title_count_block{
	background: @alpha($regular_accent_color_3, 50%);
}

.search-form.woocommerce-product-search button[type=submit]:hover{
	background: $regular_accent_color_4;
}

.woocommerce.widget .product-title,
.woocommerce.widget .product-title a,
.woocommerce ul.cart_list li > a,
.woocommerce ul.product_list_widget li > a ,
.woocommerce-mini-cart-item.mini_cart_item a{
	font-style: $h6_font_style;
	font-weight: $h5_font_weight;
	font-size: @font_size($h6_font_size, multiple, ceil, 0.77)px;
	line-height: @font_size($h6_line_height, multiple, abs, 0.91);
	font-family: @font_family( $h6_font_family );
	color: $regular_h6_color;
}

.invert .woocommerce ul.product_list_widget li>a {
	color: $invert_link_hover_color;
}

.woocommerce.widget .product-title a:hover,
.woocommerce ul.cart_list li>a:hover,
.woocommerce ul.product_list_widget li>a:hover {
	color: $regular_accent_color_1;
}

/* Styles for product-categories */
.woocommerce > ul > li .product-widget-categories,
.woocommerce > ul > li .product-widget-categories a,
.woocommerce > ul span.reviewer,
.woocommerce .widget_layered_nav ul li a {
	color: $regular_text_color;
}

.woocommerce .widget_layered_nav ul li a:hover{
	color: $regular_accent_color_1;
}

.woocommerce .widget_layered_nav ul li span{
	color: $regular_accent_color_1;
}

.woocommerce.widget_shopping_cart .total span,
.widget_shopping_cart_content .total span,
.woocommerce > ul > li .product-widget-categories a:hover,
.woocommerce.widget_shopping_cart ul.cart_list > li dl dt {
	color: $regular_accent_color_1;
}

.invert .site-header-cart .shopping_cart-dropdown-wrap .shopping_cart-header > * {
	color: $invert_h4_color;
}

.invert .woocommerce.widget_shopping_cart .cart_list li.empty {
	color: $regular_text_color;
}

/*
 * Woo-elements
 * Compare and wishlist buttons
 */
.woocommerce .tm-woocompare-button,
.woocommerce .tm-woowishlist-button {
	border-color: @lighten($regular_text_color, 25%);
}
.woocommerce .tm-woocompare-button:hover,
.woocommerce .tm-woowishlist-button:hover {
	border-color: $regular_accent_color_1;
}

.woocommerce .tm-woocompare-page-button.button.alt,
.woocommerce .tm-woowishlist-page-button.button.btn {
	color: @lighten($regular_text_color, 25%);
}

.woocommerce .tm-woocompare-page-button.button.alt:hover,
.woocommerce .tm-woowishlist-page-button.button.btn:hover {
	color: $regular_accent_color_2;
}

.woocommerce button.button.btn {
	color: @lighten($regular_text_color, 25%);
}

.woocommerce button.button.btn:hover {
	color: $invert_link_color;
	background-color: $regular_accent_color_1;
}

/*
 * Woo-elements
 * Sale-timer styles
 */
.tm-products-sale-end-date span {
	background-color: $invert_text_color;
	color: $regular_text_color;
	font-weight: $h3_font_weight;
	font-size: @font_size($h6_font_size, multiple, ceil, 0.7)px;
	font-family: @font_family( $h6_font_family );
}

/*
 * Woo-elements
 * Styles for tags and categories list -- loop product
 */

.product-categories li,
.product-categories li a,
.product-widget-tags li,
.product-widget-tags li a {
	color: $regular_text_color;
}

.product-categories li a:hover,
.product-widget-tags li a:hover {
	color: $regular_accent_color_1;
}

.widget.widget_product_categories .product-categories li a:hover,
.widget.widget_product_categories .product-categories li.current-cat a {
	color: $regular_accent_color_2;
}
.shop-sidebar .widget.widget_product_categories .product-categories li span{
	color:  $regular_accent_color_1;
}

.shop-sidebar .widget.widget_product_categories .product-categories li a:hover{
	color: $regular_accent_color_1;
}

.woocommerce .widget_price_filter .price_slider_amount .button {
	color: $invert_link_color;
	background: $regular_accent_color_2;
	border-color: $regular_accent_color_2;
}


.woocommerce .widget_price_filter .price_slider_amount .button:hover {
	background-color: $regular_accent_color_2;
	border-color: $regular_accent_color_2;
	color: $invert_link_color;
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-slider .ui-slider-range{
	background:  $regular_accent_color_1;
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content{
	background:$regular_accent_color_3;
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-slider .ui-slider-handle{
	background:  $regular_accent_color_1;
}

/*
* Woo-elements
* wishlist
*/
.woocommerce.tm-woowishlist .tm-woowishlist-item .tm-woocomerce-list__product-title a{
	font-family: @font_family( $h6_font_family );
	color: $regular_accent_color_3;
}

.woocommerce.tm-woowishlist .tm-woowishlist-item .stock {
	font-family:@font_family( $body_font_family );
}

.woocommerce.tm-woowishlist .tm-woowishlist-item .stock.out-of-stock {
	color: $invert_accent_color_1;
	background: $regular_accent_color_1;
}

.woocommerce.tm-woowishlist .tm-woowishlist-item .stock.in-stock {
	background: $regular_accent_color_3;
}

/*
 * Woo-elements
 * Compare
 */
.woocommerce.tm-woocompare-list .tm-woocompare-wrapper table.tm-woocompare-table tbody tr:nth-child(even),
.woocommerce.single-product div.woocommerce-tabs .woocommerce-Tabs-panel--additional_information table.shop_attributes tbody tr:nth-child(odd){
	background: @lighten($grey_color_1, 15%);
}

body div.woocommerce.tm-woocompare-list .tm-woocompare-wrapper table.tm-woocompare-table tbody tr:nth-child(2){
	background: $invert_accent_color_1;
}

.woocommerce.single-product div.woocommerce-tabs .woocommerce-Tabs-panel--additional_information table.shop_attributes tbody tr th{
	color:  $regular_accent_color_3;
}

/*
 * Woo-elements
 * Buttons woo styles
 */
.woocommerce a.button,
.woocommerce button.button,
.woocommerce button.button.tm-woocompare-empty,
.woocommerce input.button,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce-mini-cart__buttons.buttons a.button.wc-forward,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce a.button.add_to_cart_button.loading:hover,
.woocommerce button.button.btn.tm-wc-ajax-load-more-button,
.woocommerce-cart .woocommerce table.shop_table.shop_table_responsive tbody tr td.actions .header-btn{
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_1;
	border-color: $regular_accent_color_1;
	font-weight: $h1_font_weight;
	font-size: @font_size($body_font_size, multiple, ceil, 0.857)px;
	font-family: @font_family( $h1_font_family );
}


.woocommerce.single-product .woocommerce-Reviews ol.commentlist li.comment .comment-text .meta .woocommerce-review__author{
	color: $regular_accent_color_3;
}

.woocommerce #respond input#submit,
.woocommerce table.shop_table tbody tr td.actions input.btn{
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_2;
	border-color: $regular_accent_color_2;
}

.input-button-with-icon > i {
	color: $invert_accent_color_1;
}

.woocommerce-mini-cart__buttons.buttons a.button.wc-forward:hover,
.woocommerce #respond input#submit:hover,
.woocommerce table.shop_table tbody tr td.actions input.btn:hover{
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_2;
	border-color: $regular_accent_color_2;
}

.woocommerce #payment #place_order, .woocommerce-page #payment #place_order:hover{
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_1;
	border-color: $regular_accent_color_1;
}

.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce button.button.tm-woocompare-empty:hover,
.woocommerce input.button:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce button.button.btn.tm-wc-ajax-load-more-button:hover,
.woocommerce-cart .woocommerce table.shop_table.shop_table_responsive tbody tr td.actions .header-btn:hover,
.woocommerce-checkout .checkout_coupon .button:hover,
.woocommerce #payment #place_order, .woocommerce-page #payment #place_order{
	background-color: $regular_accent_color_4;
	border-color: $regular_accent_color_4;
	color: $invert_link_hover_color;
}
.woocommerce a.button.wc-forward:hover{
	color: $regular_link_hover_color;
}
.tm-wc-ajax-products-wrapper .tm-wc-ajax-filters-wrapper .tm-wc-ajax-filters-attribute,
.tm-wc-ajax-products-wrapper .tm-wc-ajax-filters-wrapper .tm-wc-ajax-filters-price{
	background: $invert_accent_color_1;
}

.tm-wc-ajax-products-wrapper .tm-wc-ajax-filters-wrapper .tm-wc-ajax-filters-attribute .tm-wc-ajax-filters-dismiss:hover:after,
.tm-wc-ajax-products-wrapper .tm-wc-ajax-filters-wrapper .tm-wc-ajax-filters-price .tm-wc-ajax-filters-dismiss:hover:after{
	color: $regular_accent_color_3;
}

.woocommerce a.button.product_type_variable:hover {
	background-color: $regular_accent_color_4;
	border-color: $regular_accent_color_4;
	color: $invert_link_hover_color;
}

.tm-wc-ajax-products-wrapper .tm-wc-ajax-filters-wrapper .tm-wc-ajax-filters-price:hover,
.tm-wc-ajax-products-wrapper .tm-wc-ajax-filters-wrapper .tm-wc-ajax-filters-attribute:hover{
	color: $regular_accent_color_1;
}

.woocommerce a.button.product_type_variable:hover:after{
	color: $invert_link_hover_color;
}


/*disable button syles*/
.woocommerce #respond input#submit.alt.disabled,
.woocommerce #respond input#submit.alt.disabled:hover,
.woocommerce #respond input#submit.alt:disabled,
.woocommerce #respond input#submit.alt:disabled:hover,
.woocommerce #respond input#submit.alt:disabled[disabled],
.woocommerce #respond input#submit.alt:disabled[disabled]:hover,
.woocommerce a.button.alt.disabled,
.woocommerce a.button.alt.disabled:hover,
.woocommerce a.button.alt:disabled,
.woocommerce a.button.alt:disabled:hover,
.woocommerce a.button.alt:disabled[disabled],
.woocommerce a.button.alt:disabled[disabled]:hover,
.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt.disabled:hover,
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt:disabled[disabled],
.woocommerce button.button.alt:disabled[disabled]:hover,
.woocommerce input.button.alt.disabled,
.woocommerce input.button.alt.disabled:hover,
.woocommerce input.button.alt:disabled,
.woocommerce input.button.alt:disabled:hover,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled],
.woocommerce input.button:disabled:hover,
.woocommerce input.button:disabled[disabled]:hover,
.woocommerce input.button.alt:disabled[disabled],
.woocommerce input.button.alt:disabled[disabled]:hover,
.woocommerce-cart table.cart input.header-btn:disabled {
	background-color: @darken( $regular_accent_color_1, 10% );
	color: $invert_link_color;
}

.woocommerce .wishlist_compare_button_block button.button.btn{
	background: $invert_link_hover_color;
}

.woocommerce .wishlist_compare_button_block button.button.btn:hover {
	color:  $regular_accent_color_4;
}

.woocommerce a.button.add_to_cart_button.added ,
.woocommerce a.button.add_to_cart_button.loading{
	background: $regular_accent_color_4;
}

/*
 * Woo-elements
 * Woo-Badge styles
 */
.woocommerce span.featured,
.woocommerce span.onsale,
.woocommerce span.new {
	color: $invert_accent_color_1;
}

.woocommerce span.onsale{
	background-color: $onsale_badge_bg;
}

.woocommerce span.featured {
	background-color: $featured_badge_bg;
}

.woocommerce span.new {
	background-color: $new_badge_bg;
}

/*
 * Woo-elements
 * Grid-list toggle buttons
 */

.tm-woo-grid-list-toggle-button .tm-woo-grid-list-toggler {
	color: $grey_color_1;
}

.tm-wc-ajax-products-wrapper .tm-woo-grid-list-toggle-button-wrapper .tm-woo-grid-list-toggle-button .tm-woo-grid-list-toggler.disabled,
.tm-wc-ajax-products-wrapper .tm-woo-grid-list-toggle-button-wrapper .tm-woo-grid-list-toggle-button .tm-woo-grid-list-toggler:hover {
	color: $grey_color_2;
}

.tm-wc-ajax-products-wrapper .tm-woo-grid-list-toggle-button-wrapper .tm-woo-grid-list-toggle-button .tm-woo-grid-list-toggler:hover{
	color: $regular_accent_color_1;
}


/*
 * Woo-elements
 * Single-product styles
 */
.single-product div.product h1.product_title{
	font-style: $h4_font_style;
	font-weight: $h4_font_weight;
	font-size: $h4_font_size{px};
	line-height: $h4_line_height;
	font-family: @font_family( $h4_font_family );
	letter-spacing: $h4_letter_spacing{em};
	text-align: $h4_text_align;
	color: $regular_h4_color;
}

.woocommerce.single-product #content div.product .product_meta,
.woocommerce-currency-switcher-form .dd-container .dd-selected label,
.woocommerce.single-product #content div.product .product_meta a {
	color: $regular_text_color;
}

.woocommerce.single-product #content div.product .product_meta a:hover {
	color: $regular_accent_color_1;
}

.woocommerce table.shop_attributes th {
	color: $regular_text_color;
}

body .tm-wc-ajax-products-wrapper .tm-woo-grid-list-toggle-button-wrapper .tm-woo-grid-list-toggle-button .tm-woo-grid-list-toggler.disabled span,
body .tm-wc-ajax-products-wrapper .tm-woo-grid-list-toggle-button-wrapper .tm-woo-grid-list-toggle-button .tm-woo-grid-list-toggler:hover span{
	color: $invert_link_hover_color;
	background:  $regular_accent_color_1;
	border-color: $regular_accent_color_1;
}

.tm-wc-ajax-products-wrapper .tm-woo-grid-list-toggle-button-wrapper .tm-woo-grid-list-toggle-button .tm-woo-grid-list-toggler.tm-woo-grid-list-toggle-button-grid .dashicons:before,
.tm-wc-ajax-products-wrapper .tm-woo-grid-list-toggle-button-wrapper .tm-woo-grid-list-toggle-button .tm-woo-grid-list-toggler.tm-woo-grid-list-toggle-button-list .dashicons:before {
	color: $regular_accent_color_3;
}

.product_meta > * {
	color: $regular_link_hover_color;
}

.product_meta > * span {
	color: $regular_text_color;
}

.tm-wc-ajax-products-wrapper .tm-woo-grid-list-toggle-button-wrapper .tm-woo-grid-list-toggle-button .tm-woo-grid-list-toggler.tm-woo-grid-list-toggle-button-grid.disabled .dashicons:before ,
.tm-wc-ajax-products-wrapper .tm-woo-grid-list-toggle-button-wrapper .tm-woo-grid-list-toggle-button .tm-woo-grid-list-toggler.tm-woo-grid-list-toggle-button-list.disabled .dashicons:before,
.tm-wc-ajax-products-wrapper .tm-woo-grid-list-toggle-button-wrapper .tm-woo-grid-list-toggle-button .tm-woo-grid-list-toggler.tm-woo-grid-list-toggle-button-grid:hover .dashicons:before ,
.tm-wc-ajax-products-wrapper .tm-woo-grid-list-toggle-button-wrapper .tm-woo-grid-list-toggle-button .tm-woo-grid-list-toggler.tm-woo-grid-list-toggle-button-list:hover .dashicons:before{
	color: $invert_link_hover_color;
}

.woocommerce nav.woocommerce-pagination a.next span, .woocommerce nav.woocommerce-pagination a.prev span{
	font-family:@font_family( $h1_font_family );
}

/*
 * Woo-elements
 * SmartBox widget
 */

.tm-products-smart-box-widget__rd-material-tabs .product h3 {
	font-family: @font_family( $body_font_family );
	font-style: $body_font_style;
	font-weight: $body_font_weight;
	font-size: $body_font_size{px};
	line-height: $body_line_height;
	letter-spacing: $body_letter_spacing{em};
}

.rd-material-tab.rd-material-tab-active a, .tm_custom_menu_widget .menu li a,
.tm-products-smart-box-widget__rd-material-tabs .product h3:hover,
.widget.tm_products_smart_box_widget .rd-material-tabs__list .rd-material-tab a:hover,
.widget.tm_products_smart_box_widget .rd-material-tabs__list .rd-material-tab a:hover:before,
.widget.tm_products_smart_box_widget .rd-material-tabs__list .rd-material-tab.rd-material-tab-active a,
.widget.tm_products_smart_box_widget .rd-material-tabs__list .rd-material-tab.rd-material-tab-active a:before{
	color: $regular_accent_color_1;
}

.tm_custom_menu_widget .menu li a:hover,
.widget.tm_products_smart_box_widget .rd-material-tabs__list .rd-material-tab a,
.widget.tm_products_smart_box_widget .rd-material-tabs__list .rd-material-tab a:before {
	color: $regular_accent_color_2;
}

.tm-products-smart-box-widget__rd-material-tabs .product span.price:hover,
.tm-products-smart-box-widget__rd-material-tabs .product span.price:hover ins,
.tm-products-smart-box-widget__rd-material-tabs .product span.price:hover del {
	color: $regular_text_color;
}
.tm-products-smart-box-widget__rd-material-tabs .product .price del .amount{
	font-size: @font_size($h4_font_size, multiple, ceil, 0.53)px;
}
.tm-products-smart-box-widget__rd-material-tabs .product .price del .amount,
.tm-products-smart-box-widget__rd-material-tabs .product .price del {
	font-family: @font_family( $body_font_family );
}

/**
 * Woo-elements
 * Woo-elements
 * Cart page
 *
 */

.tm-woowishlist-remove,
.tm-woocompare-remove {
	color: @lighten($regular_text_color, 26.27%);
}

.tm-woowishlist-remove:hover,
.tm-woocompare-remove:hover {
	color: $regular_accent_color_1;
}

.woocommerce a.remove{
	color: @lighten($regular_text_color, 26.27%) !important;
}

.woocommerce a.remove:hover{
	color: $regular_accent_color_1 !important;
}

.woocommerce table.shop_table thead tr,
.woocommerce table.shop_table tbody tr.cart_item:nth-child(even),
.woocommerce table.shop_table tbody tr.order_item:nth-child(even){
	background-color: $invert_accent_color_1;
}

.woocommerce table.shop_table tbody tr.cart_item,
.woocommerce table.shop_table tbody tr.order_item {
	background-color: $invert_accent_color_1;
}

.woocommerce table.shop_table tbody tr td.product-name {
	font-style: $body_font_style;
	font-weight: $body_font_weight;
	font-size: $body_font_size{px};
	line-height: $body_line_height;
	font-family: @font_family( $body_font_family );
	letter-spacing: $body_letter_spacing{em};
	text-align: $body_text_align;
	color: $regular_text_color;
}

.woocommerce-cart .woocommerce table.shop_table.shop_table_responsive tr.cart-subtotal th,
.woocommerce-cart .woocommerce table.shop_table.shop_table_responsive tr.cart-subtotal .woocommerce-Price-amount {
	font-style: $h5_font_style;
	font-weight: $h5_font_weight;
	font-size: $h5_font_size{px};
	line-height: $h5_line_height;
	font-family: @font_family( $h5_font_family );
	letter-spacing: $h5_letter_spacing{em};
}

.woocommerce-cart .woocommerce table.shop_table.shop_table_responsive tr.order-total th,
.woocommerce-cart .woocommerce table.shop_table.shop_table_responsive tr.order-total .woocommerce-Price-amount {
	font-style: $h4_font_style;
	font-weight: $h4_font_weight;
	font-size: $h4_font_size{px};
	line-height: $h4_line_height;
	font-family: @font_family( $h4_font_family );
	letter-spacing: $h4_letter_spacing{em};
}

.woocommerce table.shop_table.woocommerce-checkout-review-order-table tbody tr td strong.product-quantity,
table.order_details tbody tr td strong.product-quantity,
.woocommerce table.shop_table tbody tr td.product-name a:hover{
	color: $regular_accent_color_1;
}

.woocommerce table.shop_table thead th,
.cart-collaterals div.cart_totals table tbody tr,
.cart-collaterals div.cart_totals table tbody td,
.cart-collaterals div.cart_totals table tbody td,
.cart-collaterals div.cart_totals table tbody th,
table.shop_table.woocommerce-checkout-review-order-table tfoot tr.tax-total th,
table.shop_table.woocommerce-checkout-review-order-table tfoot tr.tax-rate th,
table.shop_table.woocommerce-checkout-review-order-table tfoot tr.cart-subtotal th,
table.shop_table.woocommerce-checkout-review-order-table tfoot tr.order-total th,
.woocommerce table.shop_table.woocommerce-checkout-review-order-table tbody tr td,
table.order_details tfoot tr,
.woocommerce .order_details li strong,
.woocommerce table.shop_table tbody tr td.product-name a {
	color: $regular_h6_color;
}



.tm-wc-ajax-products-wrapper .tm-wc-ajax-filters-wrapper .tm-wc-ajax-filters-reset.button{
	color: $regular_accent_color_1;
	font-family: @font_family( $h6_font_family );
}

.tm-wc-ajax-products-wrapper .tm-wc-ajax-filters-wrapper .tm-wc-ajax-filters-reset.button:hover{
	color: $regular_accent_color_3;
}

#content .nav-links .page-numbers.next:hover,
#content .nav-links .page-numbers.prev:hover,
.tm-pg_front_gallery-navigation .tm_pg_nav-links a.tm_pg_page-numbers.next:hover,
.tm-pg_front_gallery-navigation .tm_pg_nav-links a.tm_pg_page-numbers.prev:hover{
	color: $regular_accent_color_3;
}

.woocommerce-cart .woocommerce table.shop_table.shop_table_responsive tbody tr td .mini_cart_item_title a{
	font-family: @font_family( $h6_font_family );
	font-weight: $h6_font_weight;
}

.woocommerce-cart .woocommerce table.shop_table.shop_table_responsive tbody tr td .mini_cart_item_title a:hover{
	color:  $regular_accent_color_1;
}

.woocommerce-cart .woocommerce table.shop_table.shop_table_responsive tbody tr td.actions .shopping_tag::before{
	color:  $grey_color_1;
}


/**
 * Woo-elements
 * Checkout page
 *
 */
.woocommerce-cart .woocommerce div.cart_totals .wc-proceed-to-checkout .checkout-button{
	background: $regular_accent_color_4;
}

.woocommerce-cart .woocommerce div.cart_totals .wc-proceed-to-checkout .checkout-button:hover{
	background: $regular_accent_color_1;
}

.woocommerce-checkout .woocommerce .showcoupon, .woocommerce-checkout .woocommerce .showlogin{
	color:$regular_accent_color_1;
}

.woocommerce-checkout .woocommerce .woocommerce-form-login .lost_password a{
	font-family: @font_family( $h6_font_family );
}


.woocommerce-checkout .woocommerce .showcoupon:hover,
.woocommerce-checkout .woocommerce .showlogin:hover{
	color:$regular_accent_color_3;
}

.woocommerce-checkout .woocommerce-info > a,
.woocommerce form.login .form-row label.inline,
.woocommerce form .form-row .select2-container.country_to_state .select2-choice,
.woocommerce form .form-row.create-account label.checkbox,
.woocommerce div.product form.cart .variations label {
	 color: $regular_text_color;
}
.woocommerce-checkout .woocommerce-info > a:hover,
.woocommerce form.login .form-row label.inline:hover,
.woocommerce form .form-row.create-account label.checkbox:hover,
.woocommerce form .form-row .required {
	color: $regular_accent_color_1;
}

#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
	background-color: $invert_accent_color_1;
}

.woocommerce form label,
#add_payment_method #payment div.payment_box,
.woocommerce-cart #payment div.payment_box,
.woocommerce-checkout #payment div.payment_box {
	color: $regular_text_color;
}

/**
 * Woo-elements
 * Account page
 *
 */
.woocommerce-account.logged-in .entry-content .woocommerce {
	background-color: $invert_accent_color_1;
}

.woocommerce-account.logged-in .entry-content .woocommerce .woocommerce-MyAccount-content {
	background-color: $invert_accent_color_1;
}

.woocommerce-account.logged-in .woocommerce-MyAccount-navigation,
.woocommerce-checkout h2{
	font-family: @font_family( $h6_font_family );
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: @font_size($h6_font_size, multiple, ceil, .8)px;
	line-height: $h6_line_height;
	letter-spacing: $h6_letter_spacing{em};
}

.woocommerce-checkout h2{
	color: $regular_h6_color;
}

@media (min-width: 1200px) {
	.woocommerce-account.logged-in .woocommerce-MyAccount-navigation {
		font-size: $h6_font_size{px};
	}
}

.woocommerce-account.logged-in .woocommerce-MyAccount-navigation a {
	color: $regular_accent_color_2;
}

.woocommerce-account.logged-in .woocommerce-MyAccount-navigation a:hover,
.woocommerce-account.logged-in .woocommerce-MyAccount-navigation .is-active a {
	color: $regular_accent_color_1;
}

/**
 * Woo-elements
 * Wishlist&Compare style
 *
 */

.tm-woocompare-table .tm-woocomerce-list__product-title a{
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
	letter-spacing: $h6_letter_spacing{em};
	text-align: $h6_text_align;
	color: $regular_h6_color;
}

.woocommerce.tm-woocompare-list .tm-woocompare-wrapper table.tm-woocompare-table tr th.title{
	color: $regular_accent_color_3;
}

.tm-woowishlist .tm-woowishlist-item .tm-woocomerce-list__product-title a
.tm-woocompare-list table.tm-woocompare-table .tm-woocompare-row .title {
	 color: $regular_text_color;
}

.tm-woowishlist .tm-woowishlist-item .tm-woocomerce-list__product-title a:hover,
.tm-woocompare-table .tm-woocomerce-list__product-title a:hover {
	color: $regular_accent_color_1;
}

.woocommerce .loader:before,
.woocommerce .blockUI.blockOverlay:before,
.woocommerce .blockUI.blockOverlay:before{
	border-top-color: $regular_accent_color_1;
	border-right-color: $regular_accent_color_1;
}

.woocommerce-store-notice,
p.demo_store{
	background-color: $regular_accent_color_2;
}


.products .product.product-list h3{
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
	letter-spacing: $h6_letter_spacing{em};
	text-align: $h6_text_align;
	color: $regular_h6_color;
}

.woocommerce .products .product.product-list .price,
.woocommerce div.product.product-list span.price,
.woocommerce .products .product.product-list .price del,
.woocommerce div.product.product-list span.price del,
.woocommerce .products .product.product-list .price ins,
.woocommerce div.product.product-list span.price ins{
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
	letter-spacing: $h6_letter_spacing{em};
	text-align: $h6_text_align;
}

.woocommerce.single-product div.product .woo-social-buttons > span.custom a,
.woocommerce .single-product div.product .woo-social-buttons > span.custom a{
	color: $regular_text_color;
}

.woocommerce.single-product div.product .woo-social-buttons > span.custom a:hover,
.woocommerce .single-product div.product .woo-social-buttons > span.custom a:hover{
	color: $regular_accent_color_2;
}
.woocommerce.single-product div.product .summary .wishlist_compare_button_block .button.button.btn:hover,
.woocommerce .single-product div.product .summary .wishlist_compare_button_block .button.button.btn:hover{
	color: $regular_accent_color_1;
	background: $invert_accent_color_1;
}

.woocommerce.single-product div.product .summary .wishlist_compare_button_block .button.button.btn.alt,
.woocommerce .single-product div.product .summary .wishlist_compare_button_block .button.button.btn.alt{
	color: $regular_text_color;
}

.woocommerce.single-product div.product .summary .wishlist_compare_button_block .button.button.btn.alt:hover,
.woocommerce .single-product div.product .summary .wishlist_compare_button_block .button.button.btn.alt:hover{
	color: $regular_accent_color_1;
}

.woocommerce.single-product div.product h1.product_title,
.woocommerce .single-product div.product h1.product_title{
	font-style: $h4_font_style;
	font-weight: $h4_font_weight;
	font-size: $h4_font_size{px};
	line-height: $h4_line_height;
	font-family: @font_family( $h4_font_family );
	letter-spacing: $h4_letter_spacing{em};
	text-align: $h4_text_align;
	color: $regular_h4_color;
}


.woocommerce div.product .single_product_wrapper p.price,
.woocommerce div.product .single_product_wrapper p.price ins,
.woocommerce div.product .single_product_wrapper p.price del{
	font-style: $h3_font_style;
	font-weight: $h3_font_weight;
	font-size: $h3_font_size{px};
	line-height: $h3_line_height;
	font-family: @font_family( $h3_font_family );
	letter-spacing: $h3_letter_spacing{em};
	text-align: $h3_text_align;
	color: $regular_accent_color_1;
}

.woocommerce.single-product #content div.product .product_meta a{
	font-weight: $h1_font_weight;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a{
	color: $regular_link_hover_color;
}
.woocommerce.single-product div.woocommerce-tabs .wc-tab ul>li::before{
	color: $regular_accent_color_1;
}
.woocommerce.single-product div.product .woocommerce-tabs .tabs li.active a,
.woocommerce.single-product div.product .woocommerce-tabs .tabs li:hover a,
.woocommerce .single-product div.product .woocommerce-tabs .tabs li.active a,
.woocommerce .single-product div.product .woocommerce-tabs .tabs li:hover a{
	color: $regular_accent_color_1;
}

.woocommerce.single-product div.product form.cart .button,
.woocommerce .single-product div.product form.cart .button{
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_2;
	border-color: $regular_accent_color_2;
}

.woocommerce.single-product div.product form.cart .button:hover,
.woocommerce .single-product div.product form.cart .button:hover{
	color: $invert_accent_color_1;
}

.woocommerce.single-product div.product .summary .wishlist_compare_button_block .tm-woowishlist-page-button,
.woocommerce .single-product div.product .summary .wishlist_compare_button_block .tm-woowishlist-page-button{
	color: $regular_text_color;
}

.site-header-cart .site-header-cart__wrapper i {
	color: $regular_accent_color_3;
}
.invert .site-header-cart .site-header-cart__wrapper i {
	color: $invert_accent_color_1;
}

.site-header-cart .site-header-cart__wrapper .cart-contents:hover i {
	color: $regular_accent_color_1;
}
.site-header-cart .cart-contents:hover .count {
	background-color: $regular_accent_color_2;
}
.invert .site-header-cart__wrapper .shopping_cart-dropdown-wrap {
	background: $regular_accent_color_3;
}
.invert .site-header-cart .site-header-cart__wrapper .cart-contents:hover i {
	color: $invert_link_color;
}

.site-header.style-5 .invert .site-header-cart .site-header-cart__wrapper .cart-contents:hover i {
	color: $regular_link_hover_color;
}

.invert .site-header-cart .cart-contents .count {
	background-color: $invert_accent_color_1;
	color: $regular_link_color;
}

.invert .woocommerce.widget_shopping_cart .total span{
	color: $invert_text_color;
}

.woocommerce.widget_shopping_cart .total{
	border-top-color: $grey_color_2;
}

.invert .woocommerce.widget_shopping_cart .total {
	border-top-color: @alpha($invert_accent_color_1, 15);
}

/**
 * Woo-elements
 * Quick View
 *
 */
.products .product .block_product_thumbnail .tm-quick-view a{
	font-family:@font_family( $h1_font_family );
	color: $invert_link_hover_color;
	border-color: $invert_link_hover_color;
}

.products .product .block_product_thumbnail .tm-quick-view a:hover{
	background: $regular_accent_color_4;
	border-color: $regular_accent_color_4;
}

.products .product .block_product_thumbnail  > a::before{
	background: @alpha($regular_accent_color_3, 80%);
}

.woocommerce-message{
	background: @alpha($regular_accent_color_4, 20%);
}

/**
 * Woo-elements
 * Single product
 *
 */
.woocommerce-info .woocommerce-Button.button,
.single-product .woocommerce-message .button,
.woocommerce-message:before {
	color: $regular_accent_color_4;
}

.woocommerce.single-product .single_product_wrapper .images div.enlarge{
	background: $invert_accent_color_1;
}

.woocommerce.single-product .single_product_wrapper .images div.enlarge:hover{
	background: $regular_accent_color_3;
	border-color: $regular_accent_color_3;
	color: $invert_link_hover_color;
}

.woocommerce-info .woocommerce-Button.button:hover,
.single-product .woocommerce-message .button:hover{
	color: $regular_accent_color_3;
}

.woocommerce.single-product .single_product_wrapper .entry-summary .woocommerce-variation-add-to-cart.variations_button .quantity span,
.woocommerce.single-product div.product form.cart div.quantity span,
.woocommerce .single-product div.product form.cart div.quantity span {
	border-color: $grey_color_2;
	color: $regular_text_color;
}

.woocommerce.single-product div.woocommerce-tabs .woocommerce-Tabs-panel #commentform p.form-submit #submit{
	background: $regular_accent_color_1;
}

.woocommerce.single-product div.woocommerce-tabs .woocommerce-Tabs-panel #commentform p.form-submit #submit:hover{
	background: $regular_accent_color_4;
}

.woocommerce.single-product .single_product_wrapper .entry-summary .woocommerce-variation-add-to-cart.variations_button .quantity span::before,
.woocommerce.single-product div.product form.cart div.quantity span::before,
.woocommerce .single-product div.product form.cart div.quantity span::before {
	color: $grey_color_2;
}
.woocommerce #reviews .comment-form-rating label{
	color: $regular_accent_color_3;
}

.woocommerce.single-product .single_product_wrapper .entry-summary .woocommerce-variation-add-to-cart.variations_button .quantity span:hover::before,
.woocommerce.single-product div.product form.cart div.quantity span:hover::before,
.woocommerce .single-product div.product form.cart div.quantity span:hover::before {
	color: $regular_accent_color_3;
}

.woocommerce.single-product div.product form.cart .button,
.woocommerce .single-product div.product form.cart .button{
	background: $regular_accent_color_1;
}

.woocommerce.single-product div.product form.cart .button:hover,
.woocommerce .single-product div.product form.cart .button:hover{
	background: $regular_accent_color_4;
}
.woocommerce.single-product div.product .single_product_wrapper .images div.thumbnails .thumbnail.selected::before,
.woocommerce.single-product div.product .single_product_wrapper .images div.thumbnails .thumbnail:hover::before {
	border-color: $grey_color_2;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a{
	font-family:@font_family( $h1_font_family );
}

.woocommerce.single-product div.woocommerce-tabs ul.tabs li {
	border-color:$grey_color_2;
	background: @lighten($grey_color_2, 7%);
}

.elementor-widget-wp-widget-woocommerce_recent_reviews .product_list_widget li a{
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
	letter-spacing: $h6_letter_spacing{em};
	text-align: $h6_text_align;
	color: $regular_h6_color;
}

.elementor-widget-wp-widget-woocommerce_product_categories ul li .count{
	color: $regular_accent_color_1;
}

.elementor-widget-wp-widget-tm_woocommerce_wishlist .button.tm-woowishlist-page-button{
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_1;
	border-color: $regular_accent_color_1;
	font-weight: $h1_font_weight;
	font-size: @font_size($body_font_size, multiple, ceil, 0.857)px;
	font-family: @font_family( $h1_font_family );
}

.elementor-widget-wp-widget-tm_woocommerce_wishlist .button.tm-woowishlist-page-button:hover{
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_4;
	border-color: $regular_accent_color_4;
}

.woocommerce-account.logged-in .entry-content > .woocommerce .woocommerce-MyAccount-navigation li a{
	border: 1px solid $grey_color_2;
	color: $regular_accent_color_3;
}

.woocommerce-account.logged-in .entry-content > .woocommerce .woocommerce-MyAccount-navigation li a:hover{
	color: $invert_accent_color_1;
	background: $regular_accent_color_3;
	border-color: $regular_accent_color_3;
}

.woocommerce-account.logged-in .entry-content > .woocommerce .order-number,
.woocommerce-account.logged-in .entry-content > .woocommerce .order-date,
.woocommerce-account.logged-in .entry-content > .woocommerce .order-status{
	color: $regular_accent_color_1;
}

.woocommerce-account.logged-in .entry-content > .woocommerce .woocommerce-table--order-details tfoot td,
.woocommerce-account.logged-in .entry-content > .woocommerce .woocommerce-table--order-details tfoot td .amount{
	color: $regular_text_color;
}

.woocommerce-account.logged-in form.edit-account fieldset legend,
.woocommerce-account.logged-in form.edit-account .form-row label{
	color: $regular_accent_color_3;
}

@media (min-width: 900px){
	.woocommerce-account.logged-in .entry-content > .woocommerce .woocommerce-MyAccount-navigation{
		border-right: 1px solid $grey_color_2;
	}
}

#page .woocommerce-order .woocommerce-table--order-details tfoot tr td,
#page .woocommerce-order .woocommerce-table--order-details tfoot tr td span,
#page .woocommerce-order .woocommerce-table--order-details tbody tr td.product-total span{
	font-style: $body_font_style;
	font-weight: $body_font_weight;
	font-size: $body_font_size{px};
	line-height: $body_line_height;
	font-family: @font_family( $body_font_family );
	letter-spacing: $body_letter_spacing{em};
	text-align: $body_text_align;
	color: $regular_text_color;
}